@use "./base.scss";

// put your custom CSS here!
body {
  font-weight: 300;
}

img {
  display: block;
  margin: auto;
}

div.table-container > table {
  margin-top: -0.6em;
}

.callout[data-callout="quote"] {
  background: none;
  border: none;
}

.callout[data-callout="quote"] > p {
  margin: auto;
  text-align: center;
}

.callout[data-callout="quote"] > .callout-title {
  display: none;
}

.navigation {
  border-top: 1px solid #aaa;
  padding-top: 18px;
  display: flex;
}

.navigation > .previous {
  border: none;
  padding: 5px 10px;
  flex-grow: 1;
  display: inline-block;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.navigation > .previous::before {
  content: "< ";
}

.navigation > .up {
  border: none;
  padding: 5px 10px;
  flex-grow: 1;
  text-align: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.navigation > .next {
  border: none;
  padding: 5px 10px;
  flex-grow: 1;
  text-align: center;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.navigation > .next::after {
  content: " >";
}

